.intro {
	background: url(/img/about.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;

	&__inner {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		color: #fff;
		font-size: 22px;
		line-height: 1.4;
		margin-left: auto;
		margin-top: 300px;
		text-align: center;
		user-select: none;

		span {
			font-size: 30px;
			text-transform: uppercase;
		}
	}

	&__arrow {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 250px;

		img {
			user-select: none;
			width: 50px;

			&:not(:first-child) {
				margin-top: -25px;
			}

			&:last-child {
				animation: blink 5s linear infinite;
			}
		}
	}
}

@keyframes blink {
	0%,
	5% {
		opacity: 0;
	}

	10%,
	90% {
		opacity: 1;
	}

	95%,
	100% {
		opacity: 0;
	}
}
