.window {
	backdrop-filter: blur(15px);
	background: rgba($color: #f7f7f7, $alpha: .7);
	border: 1px solid #acacac;
	border-radius: 7px;
	box-shadow: 0 .1em 1em 0 rgb(0 0 0 / .2);
	height: calc(500px - 30px);
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: fixed;
	transition: .2s ease;
	transition-property: opacity, visibility, height, width;
	width: calc(700px - 30px);

	&.hidden {
		opacity: 0;
		visibility: hidden;
	}

	&.expanded {
		border-radius: 0;
		height: 100vh !important;
		left: 0 !important;
		top: 0 !important;
		transition-property: width, height, left, top;
		width: 100vw !important;
	}

	&.active {
		.window__btn {
			&--red {
				background: #f15f59;
			}

			&--yellow {
				background: #febb2b;
			}

			&--green {
				background: #4bb749;
			}
		}
	}

	&__head {
		background: #f7f7f7;
		padding: 10px;
		position: relative;
		width: 100%;
	}

	&__btns {
		align-items: center;
		column-gap: 10px;
		display: inline-flex;

		&:hover {
			.window__btn {
				&--red {
					background: #f15f59;
				}

				&--yellow {
					background: #febb2b;
				}

				&--green {
					background: #4bb749;
				}
			}
		}
	}

	&__content {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__btn {
		background: #acacac;
		border-radius: 50%;
		cursor: pointer;
		flex-shrink: 0;
		height: 12px;
		width: 12px;
	}

	&__title {
		font-size: 14px;
		font-weight: 500;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
