@keyframes arm {
	0%,
	to {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	20%,
	60% {
		-webkit-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}

	40%,
	80% {
		-webkit-transform: rotate(-35deg);
		transform: rotate(-35deg);
	}
}

.github:hover {
	.octo-arm {
		animation: arm .56s ease-in-out infinite;
	}
}

.dock {
	backdrop-filter: blur(15px);
	background: rgba($color: #fff, $alpha: .05);
	border: 1px solid rgba($color: #fff, $alpha: .1);
	border-radius: 20px;
	bottom: 10px;
	box-shadow: 0 10px 27px 0 rgba(34, 60, 80, .1);
	left: 0;
	left: 50%;
	padding: 1rem 0;
	padding: .5rem;
	position: fixed;
	transform: translateX(-50%);
	width: auto;
	z-index: 2;

	&__nav {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&__link {
		background: #d90368;
		border-radius: 6px;
		color: #fff;
		font-size: 1rem;
		margin: 0 1rem;
		overflow: hidden;
		padding: .75rem 0;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition: all .2s linear 0s;
		width: 120px;

		&::before {
			align-items: center;
			background-color: rgba($color: #fff, $alpha: .3);
			border-radius: 0 50% 50% 0;
			content: url(/img/arrow.svg);
			display: flex;
			height: 100%;
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			transform: scale(0, 1);
			transform-origin: left center;
			transition: all .2s linear 0s;
			width: 30px;
		}

		&:hover {
			text-indent: 30px;

			&::before {
				text-indent: 0;
				transform: scale(1, 1);
			}
		}
	}
}
