@keyframes arm {
	0%,
	to {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	20%,
	60% {
		-webkit-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}

	40%,
	80% {
		-webkit-transform: rotate(-35deg);
		transform: rotate(-35deg);
	}
}

.github:hover {
	.octo-arm {
		animation: arm .56s ease-in-out infinite;
	}
}

.dock {
	backdrop-filter: blur(15px);
	background: rgba($color: #fff, $alpha: .05);
	border: 1px solid rgba($color: #fff, $alpha: .1);
	border-radius: 20px;
	bottom: 10px;
	box-shadow: 0 10px 27px 0 rgba(34, 60, 80, .1);
	left: 0;
	left: 50%;
	padding: .625rem;
	position: fixed;
	transform: translateX(-50%);
	width: auto;
	z-index: 99999;

	&__nav {
		align-items: center;
		column-gap: 10px;
		display: flex;
		justify-content: center;
	}

	&__shortcut {
		align-items: center;
		background: rgba($color: #fff, $alpha: .7);
		border-radius: 9px;
		cursor: pointer;
		display: flex;
		height: 40px;
		justify-content: center;
		padding: 3px;
		position: relative;
		transition: .15s linear;
		width: 40px;

		img {
			height: 30px;
			width: 30px;
		}

		&:hover {
			transform: scale(1.1) translateY(-10px);

			.dock__hint {
				display: block;
			}
		}
	}

	&__hint {
		background: #fff;
		border-radius: 10px;
		display: none;
		font-size: 12px;
		left: 50%;
		padding: 5px 7px;
		position: absolute;
		top: -30px;
		transform: translateX(-50%);

		&::after {
			border: 7px solid transparent;
			border-top: 10px solid #fff;
			bottom: -12px;
			content: '';
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
		}
	}
}
